<ion-content>
  <div class="container">
    <div class="buttons-wrapper">
      <div class="logo">
        <img class="logo-img" src="./../../../assets/logo.png" alt="" >
        <div>
          <span class="firstWord">This</span><span class="point">.</span><span class="secondWord">Video</span>
        </div>
      </div>
      <h3>LogIn with</h3>

      <ion-button class="google-btn" (click)="signInGoogle()"><ion-icon name="logo-google"></ion-icon>Google</ion-button>
      <ion-button class="fb-btn" (click)="signInFb()"><ion-icon name="logo-facebook"></ion-icon>Facebook</ion-button>
    </div>

  </div>
</ion-content>
